body {
  font-family: "Rubik", sans-serif;
  background-color: #ede1df;
  color: #ad664d;
}

h1,
h2 {
  color: #2d2d2d;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
  padding: 10px;
}

h1 {
  text-align: center;
  color: #ad664d;
  margin: 3rem;
  font-weight: bolder;
}

h2,
h3,
h4,
h5 {
  text-align: center;
  color: #ad664d;
}

.logo {
  text-align: center;
  background-color: #ad664d;
}

.logo img {
  width: auto;
  height: 300px;
}

.contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.opcion {
  display: flex;
  flex-direction: column;
  line-height: 1em;
  flex-wrap: wrap;
}

.descripcion_h2 {
  margin-top: 0;
  text-align: center;
}
.opcion_titulo {
  text-align: center;
}
.opcion_descripcion {
  width: 50%;
}
.precio {
  align-self: center;
}
